/* Встановлюємо максимальну ширину таблиці та видаляємо зайві відступи */
.customer-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Встановлюємо стилі для заголовку таблиці */
  .customer-table-header {
    position: sticky;
    top: 0; /* замість top: 50px; */
    z-index: 1;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
  }
  
  /* Встановлюємо стилі для клітинок таблиці */
  .customer-table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }
  
  /* Додаємо стилі для парних рядків таблиці */
  .customer-table tr:nth-child(even) td {
    background-color: #f9f9f9;
  }
  
  /* Додаємо стилі для виділеного рядка таблиці */
  .customer-table tr.selected td {
    background-color: #e6f7ff;
  }
  
  .delete-button {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 8px 16px; /* замість 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }



  /* Збільшуємо розмір кнопок для редагування та видалення */
  .edit-button{
    background-color: #32ad74; /* Green */
    border: none;
    color: white;
    padding: 8px 16px; /* замість 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .pagging-options {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
  }
  