<table class="customer-table">
  <thead>
    <tr>
      <th class="customer-table-header">Name</th>
      <th class="customer-table-header">Company</th>
      <th class="customer-table-header">Phone</th>
      <th class="customer-table-header">Email</th>
      <th class="customer-table-header"></th>
      <th class="customer-table-header">
        <div class="search-container">
          <input class="search-input" [ngModel]="searchTerm" (ngModelChange)="onSearchChange($event)"
            placeholder="Search customer(all fields)">
          <button class="clear-search-button" *ngIf="searchTerm" (click)="clearSearchTerm()">X</button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of filteredCustomers">
      <td>{{ customer.name }}</td>
      <td>{{ customer.company }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.email }}</td>
      <td><button class="edit-button" id="edit-{{customer.name}}">Edit</button></td>
      <td><button class="delete-button" id="delete-{{customer.name}}"
          (click)="deleteCustomer(customer.name)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div>
  <div class="pagging-options">
    <button style="margin-right: 20px;" (click)="goToPage(1)" [disabled]="pageIndex === 1">First</button>
    <button style="margin-right: 20px;" (click)="previousPage()" [disabled]="pageIndex === 1"><-- Previous page</button>
        <div>
          <span>Page: {{pageIndex}} from {{pagesCount}} </span>
        </div>

        <button style="margin-left: 20px;" (click)="nextPage()"
          [disabled]="pageIndex === pagesCount || filteredCustomers.length < pageSize">Next page--></button>
        <button style="margin-left: 20px;" (click)="goToPage(0)"
          [disabled]="pageIndex === pagesCount">Last</button>
  </div>
  <div class="pagging-options">
    <div style="margin-left: 20px;">
      <span>Records per page: </span>
      <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div style="margin-left: 20px;">
      <span>Sort column : </span>
      <select [(ngModel)]="sortColumn" (ngModelChange)="onSortColumnChange($event)">
        <option *ngFor="let option of sortColumnOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div style="margin-left: 20px;">
      <span>Sort order : </span>
      <select [(ngModel)]="sortOrder" (ngModelChange)="onSortOrderChange($event)">
        <option *ngFor="let option of sortOrderOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

</div>