<div class="project-description">
    <h2>Project Description</h2>
    <p>Hi, this is my pet project. It is a simple server application without authentication, with only one table Customers (Name, CompanyName, Phone, Email).</p>
    <p>The database used is SQL Server.</p>
    <p>The server architecture is Layered.</p>
    <p>CRUD operations are based on ORM.</p>
    <p>I also added a search bar based on a stored procedure, with sorting, searching on all fields, and pagination (also created indexes for this).</p>
    <p>The UI is implemented using Angular.</p>
    <p>I added pagination navigation buttons. </p>
    <p>The ability to select the number of items per page</p>
    <p>The ability go to next, previous, first, and last pages.</p>
    <p>You can also select the column by which to sort, and sort order.</p>
    <p> The total number of pages is displayed.</p>
    <p>Fluent validation was used for server-side validation.</p>
    <p>Automapper was added to quickly transform objects into others .</p>
  </div>
  
